.navContainer {
  width: 100%;
  height: 4.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  position: fixed;
  top: 3.8rem;
  color: white;
  background: none;
  padding: 0 30px;
  z-index: 9;
  color: white;
  transition: all 1s;
  font-weight: bold;
  .overlay {
    position: fixed; /* Sit on top of the page content */
    // display: none; /* Hidden by default */
    width: 100vw; /* Full width (cover the whole page) */
    height: 100vh; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; /* Black background with opacity */
    z-index: 20; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    transition: all 1s;
    .btnX {
      margin-top: 50%;
    }
  }
  .colContent {
    a {
      text-decoration: none;
      color: #fff;
    }
    &:nth-child(2) {
      display: flex;
    }

    &:nth-child(3) {
      display: flex;
      &:nth-child(2) {
        &::after {
          content: "0";
          width: 10px;
          height: 10px;
          color: #333;
        }
      }
    }
    a + a {
      margin-left: 1rem;
    }
    .menuIcon {
      display: none;
      width: 2rem;
      img {
        padding-right: 3px;
        width: 100%;
      }
      // flex-wrap: nowrap;
    }
  }
}
.isScroll {
  background: white;
  color: #333;
  border-bottom: 1px solid #333;

  .colContent {
    a {
      color: #333;
    }
  }
}

@media screen and (max-width: 768px) {
  .navContainer {
    .colContent {
      .menuIcon {
        display: inline-block;
      }
      &:first-child {
        display: none;
      }
    }
  }
}
