.container {
  .slideItem {
    height: 780px;
    background-image: url("../../../public/images/slide_1.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;

    // animation: animate 3s ease-in-out infinite alternate-reverse forwards;
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    h1 {
      font-size: 4rem;
      color: white;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 1.25rem;
      margin-bottom: 40px;
      color: white;
    }
    .btn {
      font-size: 1rem;
      background-color: unset;
      color: white;
      border-color: white;
      padding: 20px 48px;
      cursor: pointer;
      transition: all 0.5s;
      height: 0;
      &:hover {
        background-color: rgba(245, 245, 245, 0.096);
      }
      // line-height: 40px;
    }
  }

  @keyframes animate {
    0% {
      background-image: url("../../../public/images/slide_1.jpg");
    }
    50% {
      background-image: url("../../../public/images/slide_2.jpg");
    }
    100% {
      background-image: url("../../../public/images/slide_3.jpg");
    }
  }
}
