.container {
  display: flex;
  font-family: sans-serif;
  padding: 5rem 10% 0;
  background: #ffffff;
  flex-wrap: wrap;
  justify-content: center;
  .productItem {
    // transform: translateX(-1.5rem);
    padding-bottom: 7rem;
    .imgProduct {
      img {
        width: 100%;
        height: 25rem;
        object-fit: cover;
      }
    }
    span {
      display: block;
      font-size: 1rem;
      margin-bottom: 20px;
      text-align: left;
      &:not(:nth-child(3)) {
        font-weight: 700;
      }
      &:last-child {
        margin: 0;
        padding-bottom: 1rem;
        border-bottom: 1px solid #333;
      }
    }
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

@media screen and (max-width: 1170px) {
  .container {
    .productItem {
      padding-bottom: 3rem;
    }
  }
}
