.container {
  // background-color: red;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 3.8rem;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  position: fixed;
  background: white;
  top: 0;
  z-index: 10;
  .colContent {
    font-weight: 500;
    font-size: 1.25rem;
    .btn + .btn {
      margin-left: 3px;
    }
    .btn {
      background: white;
      padding: 5px 10px;
      color: #2f5ffd;
      border: 1px solid #2f5ffd;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
        border-color: #2f5ffd;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .container {
    .colContent {
      &:first-child {
        display: none;
      }
      text-align: left;
      padding: 0 1rem;
    }
    .btn {
      &:nth-child(2) {
        display: none;
      }
    }
  }
}
