.container {
  background: #f4fafb;
  align-items: center;
  padding: 1rem 0 !important;
  color: #3796b5;
  p {
    font-size: 0.75rem;
    margin: 0;
  }
  .deploy {
    text-align: left;
  }
  .copyRight {
    text-align: right;
  }
}
