.container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  p {
    margin: 3rem 0 1.5rem;
  }
  h1 {
    max-width: 530px;
    font-size: 28px;
    color: #000000;
    font-family: sans-serif;
    margin-bottom: 1rem;
  }
  .btn {
    padding: 20px 0;
    border: none;
    background-color: unset;
    border-bottom: 1px solid black;
    font-size: 14px;
    cursor: pointer;
    .btnText {
      padding-right: 20px;
    }
  }
}
